<div class="container">
  <div class="remotecall-edit">
    <a href="" class="back-btn visible-lg" ng-click="goToRemotecall()">
      <span class="glyphicon glyphicon-arrow-left back-arrow"></span>
      <span class="back-url">Назад</span>
    </a>

    <h4 class="error-heading">Данные ошибки</h4>
    <div role="presentation" class="col-divider"></div>
    
    <div class="panel panel-default">
      <table class="table table-custom">
        <tr>
          <td class="fields-style">id</td>
          <td>{{remotecall.id}}</td>
        </tr>
        <tr>
          <td class="fields-style">cSource</td>
          <td>{{remotecall.cSource}}</td>
        </tr>
        <tr>
          <td class="fields-style">cDest</td>
          <td>{{remotecall.cDest}}</td>
        </tr>
        <tr>
          <td class="fields-style">cDate</td>
          <td>{{remotecall.cDate}}</td>
        </tr>
        <tr>
          <td class="fields-style">cSuccess</td>
          <td>{{remotecall.cSuccess}}</td>
        </tr>
        <tr>
          <td class="fields-style">cCallback</td>
          <td>{{remotecall.cCallback}}</td>
        </tr>
      </table>
    </div>
    
    <h4>Отредактируйте поле</h4>
    <div role="presentation" class="col-divider"></div>
    
    <div class="columname">cProcCode</div>
    <textarea class="custom-form" rows="5" ng-model="remotecall.cProcCode" ng-disabled="inputDisabled"></textarea>
  </div>

  <!-- Confirmation Modal -->
  <div id="modal-confirm" class="modal fade modal-md-confirm" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="modalLabel">Сообщение</h4>
        </div>
        <div class="modal-body">
          <p>{{confirmMessage}}</p>
          <table class="table table-bordered table-stripped table-condensed">
            <tr>
              <td class="fields-style">id_runner</td>
              <td>{{remotecall.id_runner}}</td>
            </tr>
            <tr>
              <td class="fields-style">id_table</td>
              <td>{{remotecall.id_table}}</td>
            </tr>
            <tr>
              <td class="fields-style">id_foreign</td>
              <td>{{remotecall.id_foreign}}</td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-msg btn-default" data-dismiss="modal">Отмена</button>
          <button type="button" class="btn btn-msg btn-default" ng-click="edit()" data-dismiss="modal">Подтвердить</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Result Modal -->
  <div id="modal-result" class="modal fade modal-md-result" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="modalLabel">Сообщение</h4>
        </div>
        <div class="modal-body">
          <p class="status">Status: {{status}}</p>
          <p>Detail: {{detail}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-msg btn-default" ng-click="goToErrorListWithDelay()" data-dismiss="modal">К списку ошибок</button>
          <button type="button" class="btn btn-msg btn-default" ng-click="goToMainPageWithDelay()" data-dismiss="modal">На главную</button>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <div class="nav-bottom-wrap">
      <div class="btn-container">
        <button type="button" class="btn btn-1 btn-default" ng-disabled="btnDisabled" data-toggle="modal" data-target=".modal-md-confirm">Apply</button>
      </div>
      <div class="copyright hidden-xs">© ООО "Технология" 2016</div>
    </div>
  </div>
</nav>