<div class="container">
  <div class="error-logs">
    <div class="panel panel-custom" ng-repeat="log in errorLogs" ng-click="goToLog(log)">
      <div class="panel-body panel-body-custom">
        <div class="row">
          <div class="col-xs-6 col-md-6 text-center">
            <div class="log-date">{{log.cDate}}</div>
          </div>
          <div class="col-xs-6 col-md-6 text-center">
            <div class="log-login">{{log.cLogin}}</div>
            <br>
            <div class="log-operation">{{log.cOperation}}</div>
          </div>
          <div class="col-xs-12 col-md-12 text-center">
            <div role="presentation" class="col-divider-one"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-2 col-md-2 text-center"> 
            <div class="col-caption">id_runner</div>
            <div class="id-runner">{{log.idRunner}}</div>
          </div>
          <div class="col-xs-5 col-md-6 text-center">
            <div class="col-caption">id_table</div>      
            <div class="id-table">{{log.idTable}}</div>
          </div>
          <div class="col-xs-3 col-md-2 text-center">
            <div class="col-caption">id_foreign</div>
            <div class="id-foreign">{{log.idForeign}}</div>
          </div>
          <div class="col-xs-2 col-md-2 text-center">
            <div class="glyphicon glyphicon-arrow glyphicon-chevron-right arrow" aria-hidden="true"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Result Modal (for errors) -->
  <div id="modal-result" class="modal fade modal-md-result" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="modalLabel">Сообщение</h4>
        </div>
        <div class="modal-body">
          <p class="status">Status: {{status}}</p>
          <p>Detail: {{detail}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-msg btn-default" ng-click="reloadPage()" data-dismiss="modal">К журналу</button>
          <button type="button" class="btn btn-msg btn-default" ng-click="goToMainPageWithDelay()" data-dismiss="modal">На главную</button>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar-inverse navbar-inverse-custom navbar-fixed-bottom" role="navigation">
  <div class="container">
    <div class="nav-bottom-wrap nav-bottom-list">
      <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="paginationMaxSize" class="pagination-md" boundary-link-numbers="true" previous-text="&lsaquo;" next-text="&rsaquo;" rotate="false" ng-change="loadActualLogs()"></uib-pagination>
      <div class="copyright hidden-xs">© ООО "Технология" 2016</div>
    </div>
  </div>
</nav>