<div class="container">
  <div class="error-log-detail">
    <div class="row">
      <div class="col-xs-7 col-md-6">
        <h4 class="error-heading">Ошибка репликации данных</h4>
      </div>
      <div class="col-xs-5 col-md-6">
        <p class="date-error">{{log.cDate}}</p>
      </div>
    </div>
    <div role="presentation" class="col-divider"></div>
    
    <div class="panel panel-default">
      <table class="table table-custom">
        <tr>
          <td class="fields-style">idRunner</td>
          <td>{{log.idRunner}}</td>
        </tr>
        <tr>
          <td class="fields-style">idTable</td>
          <td>{{log.idTable}}</td>
        </tr>
        <tr>
          <td class="fields-style">idForeign</td>
          <td>{{log.idForeign}}</td>
        </tr>
        <tr>
          <td class="fields-style">user</td>
          <td>{{log.cLogin}}</td>
        </tr>
        <tr>
          <td class="fields-style">actions</td>
          <td>{{log.cOperation}}</td>
        </tr>
      </table>
    </div>
    
    <div class="panel panel-log-error">
      <div class="panel-heading">
        <h3 class="panel-title">Состояние ошибки</h3>
      </div>
      <div class="panel-body error-log">
        {{log.cBeforeData}}
      </div>
    </div>
    
    <div class="panel panel-log-error">
      <div class="panel-heading">
        <h3 class="panel-title">Результат выполнения</h3>
      </div>
      <div class="panel-body error-log">
        {{log.cAfterData}}
      </div>
    </div>
  </div>

  <!-- Result Modal (for errors) -->
  <div id="modal-result" class="modal fade modal-md-result" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="modalLabel">Сообщение</h4>
        </div>
        <div class="modal-body">
          <p class="status">Status: {{status}}</p>
          <p>Detail: {{detail}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-msg btn-default" ng-click="goToErrorLogsWithDelay()" data-dismiss="modal">К журналу</button>
          <button type="button" class="btn btn-msg btn-default" ng-click="goToMainPageWithDelay()" data-dismiss="modal">На главную</button>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <div class="nav-bottom-wrap">
      <div class="btn-container">
        <button type="button" class="btn btn-1 btn-default" ng-click="goToErrorLogs()">Ок</button>
      </div>
      <div class="copyright hidden-xs">© ООО "Технология" 2016</div>
    </div>
  </div>
</nav>