/* app css stylesheet */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.ng-invalid {
  border-color: red;
}

body {
  margin-top: 66px;
  margin-bottom: 38px;
  background-color: #ecf6ec;
  font-family: 'Roboto Condensed', sans-serif;
}

textarea {
  min-height: 34px;
}
.rep-error-edit textarea {
  max-height: 170px;
}

.btn-1 {
  padding: 6px;
  width: 98%
}
.btn-2 {
  padding: 6px;
  width: 49%
}
.btn-3 {
  padding: 6px;
  width: 32%
}
.btn-container {
  margin-bottom: 4px;
  text-align: center;
}

.nav-bottom-wrap {
  margin: 7px 0 6px;
  text-align: center;
}
.nav-bottom-list {
  margin: 5px 0 4px;
}

.server-type {
  text-transform: uppercase;
}


/* ERROR-LIST VIEW */
.delay-select-wrap {
  margin-bottom: 10px;
  text-align: right;
}
.delay-select-wrap label {
  font-size: 17px;
  font-weight: normal;
}
.delay-select {
  display: inline-block;
  width: 120px;
  margin-left: 5px;
  font-size: 17px;
}
.error-list {
  margin-bottom: 50px;
}
.error-list .panel:hover {
  background-color: #ededed;
  cursor: pointer;
}
.panel-custom {
  margin-bottom: -1px;
  border-color: #ddd;
}
.panel-body-custom {
  padding: 6px 8px 4px;
}

.panel-remotecall {
  background-color: #fff3e8;
}

.col-caption {
  color: #638CA6;
  font-size: 12px;
  text-align: center;
}
.id-runner {
  font-size: 22px;
}
.id-table {
  word-wrap: break-word;
}
.id-table,
.id-foreign {
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 18px;
  line-height: 20px;
}

.arrow {
  float: right;
  margin-top: 16px;
  margin-right: 8px;
  color: #69d2e7;
}

.glyphicon-menu {
  padding-right: 10px;
  color: #fff;
  font-size: 12px;
}
/* */


/* REPERROR, REMOTECALL VIEW */
.rep-error, .remotecall {
  margin-bottom: 50px;
}
.error-log,
.remotecall-log {
  word-wrap: break-word;
}
.error-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
}
.panel-log-error {
  border-color: #ffb673;
}
.panel-log-error > .panel-heading {
  border-color: #ffb673;
  background-color: #ffc896;
  color: #333;
}

.table-custom {
  padding: 5px;
}

.fields-style {
  color: #638ca6;
}
/* */


/* REPERROR-EDIT */
.rep-error-edit {
  margin-bottom: 50px;
}
.col-source,
.col-dest {
  width: 49%;
}
.sourcevalue,
.destvalue {
  font-size: 16px;
  font-weight: 400;
}

.col-edit {
  min-height: 20px;
  margin-bottom: -1px;
  padding: 6px;
  border: 1px solid #e3e3e3;
  background-color: #f5f5f5;
}

.col-divider {
  height: 2px;
  margin: 5px 0px;
  background-color: #00a6c0;
}

.columname {
  padding-top: 6px;
  padding-left: 4px;
  color: #638ca6;
  font-size: 16px;
}

.input-sm {
  font-size: 14px;
  text-align: center;
}

.null-input {
  background-color: #ffeedf;
}

.null-btn {
  padding: 6px 8px 6px 9px;
  border-color: #00a6c0;
  background-color: #00a6c0;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
}
.null-btn:hover,
.null-btn:active {
  border-color: #38cbe0;
  background-color: #38cbe0;
  color: #fff;
}
.null-btn:focus {
  border: 1px solid #00a6c0;
  background-color: #fff;
  color: #00a6c0;
}
.null-btn[disabled] {
  border-color: #00a6c0;
  background-color: #00a6c0;
}

.input-error {
  color: red;
}
/* */


/* REMOTECALL-EDIT */
.remotecall-edit {
  margin-bottom: 50px;
}

.custom-form {
  width: 100%;
  height: auto;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/* */


/* ERRORS-LOGS, ERROR-LOG-DETAIL */
.error-logs, .error-log-detail {
  margin-bottom: 50px;
}
.error-logs .panel:hover {
  background-color: #ededed;
  cursor: pointer;
}

.log-date {
  margin-top: -2px;
  color: #333;
  font-size: 14px;
  line-height: 19px;
  text-align: left;
}
.log-login,
.log-operation {
  float: right;
  margin-top: -4px;
  color: #333;
  font-size: 14px;
}

.col-divider-one {
  width: 130px;
  height: 1px;
  margin: 5px 0px;
  background-color: #E0E0E0;
  overflow: hidden;
}

.date-error {
  float: right;
  margin-bottom: 10px;
  margin-top: -5px;
  color: #9A9A9A;
}
/* */


/* BOOTSTRAP STYLES */
.navbar-inverse {
  border: none;
  background-color: #00a6c0;
}
.navbar-brand {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 28px;
  font-weight: 200;
}

.collapsed {
  background-color: transparent !important;
}
.collapsed:hover {
  background-color: #ffc896 !important;
}

.navbar-inverse .navbar-nav > .active > a {
  color: #fff;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 18px;
}
.navbar-inverse .navbar-toggle {
  border: none;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:active,
.navbar-inverse .navbar-toggle:focus {
  background-color: #ffc896;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #e67e22;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffc896;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-toggle {
  border-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: transparent;
}

.navbar-default {
  background-color: #fff5ee;
}

.navbar-fixed-bottom {
  font-family: 'Ubuntu Condensed', sans-serif;
}

.panel-title {
  font-family: 'Ubuntu Condensed', sans-serif;
}

.btn-default {
  border-color: #00a6c0;
  border-radius: 4px;
  background-color: #00a6c0;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
}
.btn-default[disabled] {
  border-color: #00a6c0;
  background-color: #00a6c0;
  color: #ccc;
}
.btn-default:hover,
.btn-default:active {
  border-color: #38cbe0;
  background-color: #38cbe0;
  color: #fff;
}
.btn-default:focus {
  border: 1px solid #00a6c0;
  background-color: #00a6c0;
  color: #fff;
}
/* */


/* PAGINATION */
.pagination {
  margin: 0;
  margin-top: 3px;
  border: none;
}
.pagination > li > a {
  border: none;
  color: #638ca6;
  font-size: 16px;
  font-weight: 600;
}
.pagination li > a:hover {
  background-color: #69d2e7;
  color: #fff;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus {
  border: none; 
  background-color: #69d2e7;
  color: #fff;
}
.pagination > li:first-child > a  {
  margin-left: 0px; 
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* */


/* MODAL */
.modal-body {
  word-wrap: break-word;
}

.modal-header {
  padding: 12px;
  border-radius: 4px 4px 0px 0px;
  background-color: #00a6c0;
}

.modal-title {
  color: #fff;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.close {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  opacity: 0.7;
}

.status {
  margin: 0px 0px 5px;
  color: #f2a868;
}

.modal-header .close {
  margin-top: 2px;
}

.btn-msg {
  padding: 6px;
  width: 45%;
}

.modal-footer {
  padding: 10px; 
  text-align: center;
  border-top: 1px solid #00a6c0;
}
/* */


/* LOADING */
.loading {
  position: fixed;
  right: 20px;
  bottom: 56px;
  z-index: 9999;
}
/* */


/* BACK */
.back-btn {
  width: 70px;
  margin-bottom: 12px;
  color: #00a6c0; 
  font-size: 16px;
}
.back-arrow {

}
.back-url {
  color: #00a6c0;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 18px;
}
.back-btn:hover, .back-btn:focus,
.back-btn:hover .back-url, .back-btn:focus .back-url {
  color: #38cbe0;
  text-decoration: none;
}
/* */


/* COPYRIGHT */
.copyright {
  color: #bebebe;
  text-align: center;
}
/* */


/* MAIN-PAGE */
.main-page-navbar {
  background-color: #ecf6ec;
}

.main-page-container {
  margin-top: 40px;
  font-family: "Ubuntu Condensed", sans-serif;
}

.main-col-divider {
  height: 2px;
  margin: 5px auto;
  background-color: #00a6c0;
}

.main-page-btn {
  width: 100%;
  border-radius: 0px;
  margin-bottom: 5px;
  font-size: 18px;
}
.main-page-btn-first {
  width: 100%;
  border-radius: 4px 4px 0px 0px;
  margin-bottom: 5px;
  font-size: 18px;
}
.main-page-btn-last {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  font-size: 18px;
}

.main-title {
  margin-top: 10px;
  color: #638ca6;
  font-size: 56px;
  font-weight: 800;
  text-align: center;
}
.main-description {
  font-size: 18px;
  text-align: center;
}
.main-options {
  margin: 0 auto;
}
.choose-server {`
  padding-left: 5px;
  color: #9a9a9a;
  font-size: 16px;
  text-align: left;
}
.letter {
  font-size: 16px;
  font-weight: 900;
}

.server-name {
  float: left;
}
.prod-btn,
.prod-btn:active,
.prod-btn:focus {
  border-color: #f2a868;
  background-color: #f2a868;
}
.prod-btn:hover {
  border-color: #ffc896;
  background-color: #ffc896;
}
.main-arrow {
  float: right;
  top: 4px;
}

.main-copyright {
  margin-top: 8px;
  background-color: transparent;
}
/* */


/* Custom, iPhone Retina */ 
@media only screen and (min-width: 320px) {
  
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .loading {
    position: fixed;
    right: 20px;
    bottom: 80px;
    z-index: 9999;
  }

  .main-page-container {
    margin-top: 60px ;
    font-family: "Ubuntu Condensed", sans-serif;
  }

  .main-col-divider {
    max-width: 60%;
    height: 2px;
    margin: 5px auto;
    background-color: #00a6c0;
  }

  .main-options,
  .main-page-menu {
    max-width: 60%;
    margin: 0 auto !important;
  }

  .main-title {
    padding-top: 30px;
    color: #638ca6;
    font-size: 56px;
    font-weight: 800;
    text-align: center;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}
